@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

body {
    background-color: #313331;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DD7C1C'/%3E%3Cstop offset='1' stop-color='%23313331'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFC1F' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFC1F' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
#menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
#menu a {
    color: aquamarine;
    text-decoration: none;
    display: block;
    padding: 12px 26px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
#menu {
    width: 870px;
    height: 50px;
    background: rgb(221,231,61);
background: linear-gradient(0deg, rgba(221,231,61,0.6474964985994398) 10%, rgba(214,190,29,0.7959558823529411) 46%, rgba(238,143,54,0.7455357142857143) 84%);
    border-radius: 20px;
}
#menu a:hover {
    color: rgb(0, 0, 0);
    background: rgb(0,0,0,0.3) ;
}
.barra {
    position: fixed;
    left: 200px;
    display: block;
    width: 100%;
    top: 0;
}
section #info1 {
    margin: 80px;
    padding: 0px;
    display: block;
    background-color: #E4FF4A;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8d2c'/%3E%3Cstop offset='1' stop-color='%23ff8d2c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2367ff31'/%3E%3Cstop offset='1' stop-color='%2367ff31' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f3ff13'/%3E%3Cstop offset='1' stop-color='%23f3ff13' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E4FF4A'/%3E%3Cstop offset='1' stop-color='%23E4FF4A' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0D43'/%3E%3Cstop offset='1' stop-color='%23FF0D43' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2318FF63'/%3E%3Cstop offset='1' stop-color='%2318FF63' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 45%;
    height: 10%;
    float: left;    
    border-radius: 10px;
}
section #info2 {
    margin: 80px;
    padding: 0;
    display: block;
    width: 30%;
    height: 10%;
    float: right; 
    text-align: center;  
}
#info1 ul li a {
    text-decoration: none;
    color: aqua;
    font-family: 'Explora', cursive;
    font-size: 30px;
}
#info1 h1 {
    font-family: 'Explora', cursive;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}
#info1 h2 {
    font-family: 'Explora', cursive;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
#info2 h1 {
    font-family: 'Explora', cursive;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
#info2 p {
    font-family: 'Explora', cursive;
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: black;
}
.img1 {
    width: 220px;
    height: 220px;
    border-radius: 20px;
    float: left;
    margin: 0;
}
.img2 {
    width: 150px;
    height: 220px;
    border-radius: 20px;
    float: right;
    margin: 0;
}
.img3 {
    width: 370px;
    height: 150px;
    border-radius: 20px;
    margin: 20px;
    left: 20px;
    padding: 0;
}

